// FKBD - Global

// Main Outlet

#main-outlet-wrapper {
  padding: 0 1em;
  #main-outlet {
    padding-top: 2em;
    .has-full-page-chat & {
      padding-top: 0;
    }
  }
}

body {
background: linear-gradient(57deg, #FFDAB9 30%, #ffffff);
}
